<!DOCTYPE html>
<html class="search_h">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title><%=user?user.weixin_companyname||user.companyname:"上海邮轮中心"%>  搜索列表页面</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/cruiseLiner.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body class="search_h" style="background:#fff;">
<!--标题-->
<div class="title01">
    <span><a href="/"><i class="centerico01"></i><span></span></a></span>
</div>
<div class="cont01 search_detailcon">
    <%if(ships.length==0){%>
    <div class="recomListBox">
        没有符合您条件的航线，请重新搜索。
    </div>
    <%}%>
    <%ships.forEach(function(s){%>
    <a href="/detail/<%=s.id%><%=user?"?openid="+user.openid:""%>" style="text-decoration:none;">
    <div class="recomListBox">
        <div class="titlebox">
            <h5><%=s.title%></h5>
            <h6><%=s.txtCompanyName%>&nbsp;<%=s.txtShipName%></h6>
            <div class="pricebox"><p class="price">￥<%=s.price%></p><p>起</p></div>
        </div>
        <div class="infocon">
            <%= s.startLocation%>出发
        </div>
    </div>
    </a>
    <% })%>
</div>
<!--出发城市弹出层-->
<!--<div class="modal costDetail" id="mycountry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="costDetailModalTitle">-->
            <!--<div class="leftorang"></div><div class="entry-trangle"></div>-->
        <!--</div>-->
        <!--<div class="modal-content costDetail-content">-->
            <!--<div class="modal-body">-->
                <!--&lt;!&ndash;&ndash;&gt;-->
                <!--<div class="search_modal">-->
                    <!--<div class="search_modalleftnav search_tabs"><a href="#" ><i class="ico03"></i>出发城市</a></div>-->
                    <!--<div class="search_modalsearchbox">-->
                        <!--<ul class="search_chooselist">-->
                            <!--<li>所有出发城市</li>-->
                            <!--<li>上海</li>-->
                            <!--<li>天津</li>-->
                            <!--<li class="cur">三亚</li>-->
                            <!--<li>广州</li>-->
                            <!--<li>武汉</li>-->
                            <!--<li>欧洲</li>-->
                            <!--<li>南京</li>-->
                            <!--<li>青岛</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--出发日期弹出层-->
<!--<div class="modal costDetail" id="myDate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="costDetailModalTitle">-->
            <!--<div class="leftorang"></div><div class="entry-trangle"></div>-->
        <!--</div>-->
        <!--<div class="modal-content costDetail-content">-->
            <!--<div class="modal-body">-->
                <!--&lt;!&ndash;&ndash;&gt;-->
                <!--<div class="search_modal">-->
                    <!--<div class="search_modalleftnav search_tabs"><a href="#" ><i class="ico01"></i>出发日期</a></div>-->
                    <!--<div class="search_modalsearchbox">-->
                        <!--<ul class="search_chooselist">-->
                            <!--<li>所有出发日期</li>-->
                            <!--<li>2014年12月</li>-->
                            <!--<li>2015年1月</li>-->
                            <!--<li class="cur">2015年2月</li>-->
                            <!--<li>2015年3月</li>-->
                            <!--<li>2015年4月</li>-->
                            <!--<li>2015年5月</li>-->
                            <!--<li>2015年6月</li>-->
                            <!--<li>2015年7月</li>-->
                            <!--<li>2015年8月</li>-->
                            <!--<li>2015年9月</li>-->
                            <!--<li>2015年10月</li>-->
                            <!--<li>2015年11月</li>-->
                            <!--<li>2015年12月</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--底部连接-->
<!--<div class="bottomBtBox03">-->
    <!--<a href="#" class="cur"   data-toggle="modal" data-target="#mycountry">日韩</a><a href="#"  data-toggle="modal" data-target="#myDate">2015年1月</a><a href="#">出发城市</a>-->
<!--</div>-->
<%if(user){%>
<a href="tel:<%=user.weixin_tel||user.telephone%>" class="recomflexphone"></a>
<%} else {%>
<a href="tel:4009986121" class="recomflexphone"></a>
<%}%>
</body>
</html>
